<div class="container-fluid">
    <div class="row">
        
    </div>
</div>
     <div>
       <h4>マイページ</h4>
       <h4>登録情報<%= link_to "編集する",customers_information_edit_path,class:"btn btn-sm btn-success" %></h4>
       <div>
          <table border="1" class="my-page-table">
             <tr>
                <th>会員ID</th>
                <td><%= current_customer.id %></td>
             </tr>
             <tr>
                <th>氏名</th>
                <td><%= current_customer.last_name %><%= current_customer.first_name %></td>
             </tr>
             <tr>
                <th>シメイ</th>
                <td><%= current_customer.last_name_kana %><%= current_customer.first_name_kana %></td>
             </tr>
             <tr>
               <th>郵便番号</th>
               <td>〒<%= current_customer.postal_code.to_s.insert(3,"-") %></td>
             </tr>
             <tr>
               <th>住所</th>
               <td><%= current_customer.address %></td>
             </tr>
             <tr>
               <th>電話番号</th>
               <td><%= current_customer.telephone_number %></td>
             </tr>
             <tr>
                <th>メールアドレス</th>
                <td><%= current_customer.email %></td>
             </tr>
             <tr>
                <th>会員ステータス</th>
                <td><% if current_customer.is_deleted == false %>
                      <%= "有効" %>
                    <% else %>
                      <%= "退会" %>
                    <% end %>
                </td>
             </tr>
       　</table>
       　<p>配送先<%= link_to "一覧を見る",addresses_path,method: :get,class:"btn btn-sm btn-primary" %></p>
         <p>注文履歴<%= link_to "一覧を見る",orders_path,method: :get,class:"btn btn-sm btn-primary" %></p>
     </div>
</div>