<%= form_with model:@item_find,url:admin_item_path(@item_find.id),method: :patch, class:"container mt-5" do |f| %>
    <h4>商品編集</h4>
    <div class="row">
        <div class="offset-md-4 col-md-2">
            <p>商品画像</p>
        </div>
        <div class="col-md-6">
            <%= f.file_field:image,accept: "image/*" %>
        </div>
         <div class="offset-md-3 col-md-2">
            <p>商品名</p>
        </div>
        <div class="col-md-7">
            <%= f.text_field:name %>
        </div>
    
        <div class="offset-md-3 col-md-2">
            <p>商品説明</p>
        </div>
        <div class="col-md-7">
            <%= f.text_area:introduction %>
        </div>
    
        <div class="offset-md-3 col-md-2">
            <p>ジャンル</p>
        </div>
        <%= form_with model:@item_find,local:true do |f| %>
            <%= f.select:genre_id,{"ケーキ":1,"プリン":2,"焼き菓子":3,"キャンディ":4},{include_blank:"選択してください"},{class:"form-control col-md-3",required:true} %>
        <% end %>
    
        <div class="offset-md-3 col-md-2">
            <p>税抜価格</p>
        </div>
        <div class="col-md-7">
            <%= f.text_field:price %>円
        </div>

        <div class="offset-md-3 col-md-2">
            <p>販売ステータス</p>
        </div>
        <%= form_with model:@item_find, local: true,class:"col-md-7" do |f| %>
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, "販売中" %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "販売停止中" %>
        <% end %>
        <%= f.submit "変更を保存",class:"offset-md-4 col-md-2 btn btn-sm btn-success" %>
    </div>
<% end %>