<h4>商品一覧</h4>
<%= link_to new_admin_item_path,class:"btn btn-x btn-lignt rounded-circle shadow-sm shadow-none" do %>
  <%= "+" %>
<% end %>
<table class="table">
    <tr>
        <th>商品id</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
    </tr>
    <% @item_all.each do |item| %>
    <tr>
        <td>
            <%= item.id %>
        </td>
        <td>
            <%= link_to admin_item_path(item.id) do %>
              <%= item.name %>
            <% end %>
        </td>
        <td>
            <%= item.price %>
        </td>
        <td>
            <% if item.genre_id == 1 %>
                <%= "ケーキ" %>
            <% elsif item.genre_id == 2 %>
                <%= "プリン" %>
            <% elsif item.genre_id == 3 %>
                <%= "焼き菓子" %>
            <% elsif item.genre_id == 4 %>
                <%= "キャンディ" %>
            <% end %>
        </td>
        <td>
            <% if item.is_active == true %>
                <%= "販売中" %>
            <% else %>
               <%= "販売停止中" %>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>