<h1>配送先編集</h1>
<%= form_with model:@address_find,url:address_path(@address_find.id),method: :patch do |f| %>
  <dl>
    <dt>郵便番号</dt>
    <dd><%= f.text_field:postal_code,placeholder:"0000000" %></dd>
    <dt>住所</dt>
    <dd><%= f.text_field:address,placeholder:"東京都渋谷区代々木神園町0-0",class:"form-juusho" %></dd>
    <dt>宛名</dt>
    <dd><%= f.text_field:name,placeholder:"令和道子" %>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <%= f.submit "変更内容を保存",class:"btn btn-sm btn-success" %></dd>
  </dl>
<% end %>