<h1>配送先登録/一覧</h1>
<%= form_with model:@address,url:addresses_path,method: :post,local:true do |f| %>
  <dl>
      <dt>郵便番号(ハイフンなし)</dt>
      <dd><%= f.text_field:postal_code,placeholder:"0000000" %></dd>
      <dt>住所</dt>
      <dd><%= f.text_field:address,placeholder:"東京都渋谷区代々木神園町0-0",class:"form-juusho" %></dd>
      <dt>宛名</dt>
      <dd><%= f.text_field:name,placeholder:"令和道子" %>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <%= f.submit "新規登録",class:"btn btn-sm btn-success" %></dd>
  </dl>
<% end %>

<table class="table">
    <thead>
        <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
        </tr>
    </thead>
    <% @address_all.each do |f| %>
    <tbody>
        <tr>
            <td><%= f.postal_code %></td>
            <td><%= f.address %></td>
            <td><%= f.name %></td>
            <td><%= link_to "編集",edit_address_path(f.id),method: :get,class:"btn btn-sm btn-success" %><%= link_to "削除",address_path(f.id),method: :delete,"data-confirm"=>"本当に削除しますか？",class:"btn btn-sm btn-danger" %></td>
        </tr>
    </tbody>
    <% end %>
</table>