<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <dl>
    
      <div class="field">
        <dt><%= f.label :"名前" %></dt>
        <dd><%= f.label :"(姓)" %>&emsp;
        <%= f.text_field :last_name,placeholder:"令和" %>
        <%= f.label :"(名)" %>&emsp;
        <%= f.text_field :first_name,placeholder:"道子" %></dd>
      </div>
      <div>
        <dt><%= f.label :"フリガナ" %></dt>
        <dd><%= f.label :"(セイ)" %>
        <%= f.text_field :last_name_kana,placeholder:"レイワ" %>
        <%= f.label :"(メイ)" %>
        <%= f.text_field :first_name_kana,placeholder:"ミチコ" %></dd>
      </div>
    
      <div>
        <dt><%= f.label :"メールアドレス" %></dt>
        <dd>&emsp;&emsp;&nbsp;&nbsp;&nbsp;<%= f.email_field :email, autofocus: true, autocomplete: "email",placeholer:"sample@example.com" %></dd>
      </div>
      
      <div>
        <dt><%= f.label :"郵便番号(ハイフンなし)" %></dt>
        <dd>&emsp;&emsp;&nbsp;&nbsp;&nbsp;<%= f.text_field :postal_code,placeholder:"0000000" %></dd>
      </div>
      
      <div>
        <dt><%= f.label :"住所" %></dt>
        <dd>&emsp;&emsp;&nbsp;&nbsp;&nbsp;<%= f.text_field :address,placeholder:"東京都渋谷区代々木神園町0-0",class:"form-juusho" %></dd>
      </div>
      
      <div>
        <dt><%= f.label :"電話番号(ハイフンなし)" %></dt>
        <dd>&emsp;&emsp;&nbsp;&nbsp;&nbsp;<%= f.text_field :telephone_number,placeholder:"00000000000" %></dd>
      </div>
    
      <div class="field">
        <dt><%= f.label :"パスワード" %><% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %></dt>
        <dd>
        &emsp;&emsp;&nbsp;&nbsp;&nbsp;<%= f.password_field :password, autocomplete: "new-password" %></dd>
      </div>
    
      <div class="field">
        <dt><%= f.label :"パスワード(確認用)" %></dt>
        <dd>&emsp;&emsp;&nbsp;&nbsp;&nbsp;<%= f.password_field :password_confirmation, autocomplete: "new-password" %></dd>
      </div>
  </dl>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "public/shared/links" %>

<h2>すでに登録済みの方</h2>
<p><%= link_to "こちら",new_customer_session_path %>からログインしてください。</p>