<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "public/items/genre",locals: {genres:@genres} %>
    </div>
    <div class="col-md-3">
      <%= image_tag @item_find.get_image(400,400) %>
    </div>
    <div class="col-md-6">
      <p><%= @item_find.name %></p>
      <p><%= @item_find.introduction %></p>
      <p>￥<%= @item_find.add_price_tax.to_s(:delimited) %>(税込)</p>
      <%= form_with model:@cart_item,url:cart_items_path,method: :post,local:true do |f| %>
        <%= f.hidden_field :item_id, value: @item_find.id %>
        <%= f.select :amount,*[1..10] %>
        <%= f.submit "カートへ入れる",class:"btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
</div>